.card-title {
    text-align: center;
    color: #F0F6FC;
}

.card-headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 50%;
    border: 2px solid #3d444d;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > li {
    padding-left: 1.2em;
    text-indent: -1.2em;
}

ul > li:nth-child(1)::before {
    content: "📌";
    padding: 8px;
}

ul > li:nth-child(2)::before {
    content: "🏠";
    padding: 8px;
}

ul > li:nth-child(3)::before {
    content: "📈";
    padding: 8px;
}

.mdc-card {
    width: 100%;
    height: fit-content;
    padding: 16px;
    gap: 16px;
    color: #F0F6FC;
    background-color: #0D1117 !important;
    border: 1px solid #3d444d !important;
}

.contact-button {
    width: 100%;
    background-color: #0969DA;
}