.header-container {
    display: flex;
    justify-content: left;
    align-items: center;

    height: 50px;
    background-color: #010409;
    border-bottom: 1px solid #3d444d;
}

.header-button {
    margin-left: 10px;
    color: #9198A1 !important;
}