<mat-card appearance="outlined">
    <h1 class="google-form-title">Lead Sunday</h1>
    <p class="google-form-text"> This link is to automatically create a google form for
        a climbing group I'm a part of called Lead Sunday.
        Every saturday we vote on the location and copying
        pasting, changing the date and sending the link was
        annoying so I automated it with a button click!
    </p>
    <button
        button
        mat-fab
        extended
        class="google-form-button"
        (click)="createForm()">
            Create Lead Sunday Form
    </button>
</mat-card>
