.google-form-button {
    background-color: #0969DA;
}

.mdc-card {
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
    height: fit-content;
    padding: 16px;
    gap: 16px;
    color: #F0F6FC;
    background-color: #0D1117 !important;
    border: 1px solid #3d444d !important;
}