<mat-card appearance="outlined">
    <h1 class="google-form-title">Lead Sunday</h1>
    <p> This link is to automatically create a google form for<br>
        a climbing group I'm a part of called Lead Sunday.<br>
        Every saturday we vote on the location and copying<br>
        pasting, changing the date and sending the link was<br>
        annoying so I automated it with a button click!<br>
    </p>
    <button
        button
        mat-fab
        extended
        class="google-form-button"
        (click)="createForm()">
            Create Lead Sunday Form
    </button>
</mat-card>
