<div class="projects-container">
    <mat-button-toggle-group [(value)]="selectedProject">
        <mat-button-toggle value="jsonClock">JSON Clock</mat-button-toggle>
        <mat-button-toggle value="leadSundayForm">Climbing Form Generator</mat-button-toggle>
    </mat-button-toggle-group>

    <app-json-clock *ngIf="selectedProject === 'jsonClock'" style="color: white;"></app-json-clock>
    <app-form-creator-component  *ngIf="selectedProject === 'leadSundayForm'"></app-form-creator-component>
</div>