<div class="projects-container">
    <mat-button-toggle-group [(value)]="selectedProject">
        <mat-button-toggle value="gameOfLife">The Game of Life</mat-button-toggle>
        <mat-button-toggle value="leadSundayForm">Climbing Form Generator</mat-button-toggle>
    </mat-button-toggle-group>

    <app-game-of-life *ngIf="selectedProject === 'gameOfLife'" style="color: white;"></app-game-of-life>
    <app-form-creator-component  *ngIf="selectedProject === 'leadSundayForm'"></app-form-creator-component>
</div>