.about-container {
    width: fit-content;
    height: fit-content;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

app-about-card {
    width: 25%;
}

app-resume-card {
    width: 75%;
    min-height: fit-content;
}