:host {
    display: block;
    height: 100%;
}

.about-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

app-about-card {
    width: 25%;
}

app-resume-card {
    width: 75%;
    min-height: fit-content;
}