.about-container {
    display: flex;
    justify-content: space-around;
}

.about-card {
    width: 250px;
    color: #F0F6FC;
    background-color: #0D1117;
    border: 1px solid #3d444d;

}

.card-title {
    margin: 16px;
}

.card-image {
    width: 100%;
}

.card-content {
    margin: 16px;
}