.about-container {
    padding: 2%;
}

.card-title {
    margin: 16px;
    text-align: center;
    font-weight: 500;
}

.card-content {
    margin: 16px;
}

.headshot {
    border-radius: 50%;
    margin: 16px;
    border-width: 1px solid #3d444d;
}