.about-container {
    padding: 2%;
}

.card-container {
    width: 25%;
    color: #F0F6FC;
    background-color: #0D1117;
    border: 1px solid #3d444d;
}

.card-title {
    margin: 16px;
}

.card-content {
    margin: 16px;
}