<mat-card appearance="outlined">
    <h1 class="card-title">J. Marshall Turner</h1>
    <img class="card-headshot" src="../../../assets/headshot.jpg">
    <ul>
        <li class="bullet-tack">Hello! My name is Marshall and I'm a Software Engineer.
            <ul>
                <li class="bullet-house">
                    I work as a full-stack developer at Fannie Mae.
                </li>
                <li class="bullet-stock">
                    I work on their MBS Trading Portal.
                </li>
            </ul>
        </li>
    </ul>
</mat-card>