<mat-card appearance="outlined">
    <h1 class="card-title">J. Marshall Turner</h1>
    <img class="card-headshot" src="assets/headshot.jpg">
    <ul>
        <li class="bullet-tack">Hello! I'm Marshall and I'm a Software Engineer.
        <li class="bullet-house">
            I work as a Full-Stack developer at Fannie Mae.
        </li>
        <li class="bullet-stock">
            I work on their Mortgage Backed Securities Trading Portal.
        </li>
    </ul>
</mat-card>
<button
    button
    mat-fab
    extended
    class="contact-button"
    onclick="window.location.href='mailto:marshallarts12@gmail.com'">
    <mat-icon>mail</mat-icon>
    Contact Me
</button>
